<% include partials/header %>

<div class="container">
  <h1 class="center-align" ><%= title %></h1>
  <button id="signOut" type="button" onclick="signOut();">Sign Out</button>
  <button><a href="/home">Home</a></button>
  <input type="text" id="filterInput" placeholder="Search Shows">
  <ul class="collection width-header" id="showsUl">

    <% cartoonsList.forEach(function(show) { %>
      <li class='collection-item'>
        <a href="/<%= show.showName %>"><%= show.title %></a>
        <button id='favBtn <%= show.showName %>' class="favBtn right" title="<%= show.showName %>" type="button" name="<%= show.title %>">Add to Fav</button>
      </li>
    <% }) %>

  </ul>
</div>


<%include partials/footer %>
