<% include partials/header %>

<div class="container">
  <h1><%= title %></h1>
  <button id="signOut" type="button" onclick="signOut();">Sign Out</button>
  <button><a href="/home">Home</a></button>
  <input type="text" id="filterInput" placeholder="Search Show List">

  <ul class="collection width-header" id="showsUl">
    <% seriesList.forEach(function(item) { %>
      <li id="ep" class='collection-item'>
        <a href="/<%= title %>/<%= item %>" title="<%= item %>"><%= item %></a>
      </li>
    <% }) %>
  </ul>

</div>

<%include partials/footer %>
